.video-list {
    width: 30%;
}

.video-list .video-item {
    cursor: pointer;
    border-bottom: 1px solid darkgrey;
    display: flex;
    margin-top: 2rem;
    padding-bottom: 1rem;
}

.video-item .title {
    font-size: 1.3rem;
    padding: 0 1rem;
}

@media (max-width: 1000px) {
    .video-item .title {
        font-size: 1rem;
    }
    .video-list {
        width: 100%;
    }
}